In [1]:
import numpy as np 
import pandas as pd
import os

In [2]:
file_paths=[
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.06.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.07.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.08.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.09.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.10.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.11.txt',
           '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/imp.12.txt']
df_list=[]
for file in file_paths:
    df = pd.read_csv(file, header=None,sep='\t')  # Read file without headers
    df_list.append(df)

# Combine all DataFrames into a single DataFrame
final_imp_df = pd.concat(df_list, ignore_index=True)

# Assign your own column names
final_imp_df.columns = ["BidID","Timestamp","Logtype","VisitorID","User-Agent","IP","Region",
                   "City","Adexchange","Domain","URL","AnonymousURLID","AdslotID",
                   "Adslotwidth","Adslotheight",'Adslotvisibility',"Adslotformat",
                   "Adslotfloorprice","CreativeID","Biddingprice","Payingprice","KeypageURL"
                    ,"AdvertiserID","User_profile_tags"]  # Change as needed

In [3]:
imp_df=final_imp_df

In [4]:
file_paths=['/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.06.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.07.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.08.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.09.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.10.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.11.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/clk.12.txt']

df_list = []
for file in file_paths:
    df = pd.read_csv(file, header=None, sep='\t')  # Read file without headers
#     df = pd.read_csv(file)
    df_list.append(df)

# Combine all DataFrames into a single DataFrame
final_clk_df = pd.concat(df_list, ignore_index=True)

# Assign your own column names
final_clk_df.columns = ["BidID", "Timestamp", "Logtype", "VisitorID", "User-Agent", "IP", "Region",
                   "City", "Adexchange", "Domain", "URL", "AnonymousURLID", "AdslotID",
                   "Adslotwidth", "Adslotheight", "Adslotvisibility", "Adslotformat",
                   "Adslotfloorprice", "CreativeID", "Biddingprice", "Payingprice", "KeypageURL",
                   "AdvertiserID", "User_profile_tags"]  # Change as needed

clk_df = final_clk_df

In [5]:
clk_df = final_clk_df

In [6]:
file_paths=['/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.06.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.07.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.08.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.09.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.10.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.11.txt',
            '/Users/shreshthgarg/Desktop/hackathons/adobe_devcraft_25/dataset/conv.12.txt']

df_list = []
for file in file_paths:
    df = pd.read_csv(file, header=None, sep='\t')  #for txt file
#     df = pd.read_csv(file)  # Read file without headers
    df_list.append(df)

# Combine all DataFrames into a single DataFrame
final_conv_df = pd.concat(df_list, ignore_index=True)

# Assign your own column names
final_conv_df.columns = ["BidID", "Timestamp", "Logtype", "VisitorID", "User-Agent", "IP", "Region",
                   "City", "Adexchange", "Domain", "URL", "AnonymousURLID", "AdslotID",
                   "Adslotwidth", "Adslotheight", "Adslotvisibility", "Adslotformat",
                   "Adslotfloorprice", "CreativeID", "Biddingprice", "Payingprice", "KeypageURL",
                   "AdvertiserID", "User_profile_tags"]  # Change as needed

In [7]:
conv_df = final_conv_df

In [8]:
# bid_list = bid_df['BidID'].to_list()
imp_list = imp_df['BidID'].to_list()
clk_list = clk_df['BidID'].to_list()
conv_list = conv_df['BidID'].to_list()
L1, L2, L3,L4 = [], [], [],[]

In [9]:
#L2 is for imp to clk
clk_set = set(clk_list)
L2 = [1 if imp in clk_set else 0 for imp in imp_list]

In [10]:
imp_df['is_clk'] = L2

In [11]:
conv_set = set(conv_list)
L4 = [1 if imp in conv_set else 0 for imp in imp_list]

In [12]:
imp_df['is_conv'] = L4

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer , StandardScaler, OneHotEncoder , LabelEncoder ,OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [14]:
def encoding_user_profile_tags(df):
    df['tags_list'] = df['User_profile_tags'].fillna("NaN").str.split(',')
    df.head()
    mlb = MultiLabelBinarizer()
    tags = mlb.fit_transform(df['tags_list'])
    profile_tags_df = pd.DataFrame(tags, columns=mlb.classes_, index=df.index)
    df_final = pd.concat([df, profile_tags_df], axis=1)
    df = df_final
    df.drop('tags_list', axis=1, inplace=True)
    df.drop('User_profile_tags',axis=1,inplace=True)
    return df

In [15]:
def extracting_hours(df):
    df['Timestamp'] = pd.to_datetime(df['Timestamp'].astype(str).str[:14], format='%Y%m%d%H%M%S')
    df['Hours'] = df['Timestamp'].dt.hour 
    df.drop('Timestamp',axis=1,inplace=True)
    return df

In [16]:
column_mapping = {
    10006: "interest_news",
    10024: "interest_education",
    10031: "interest_automobile",
    10048: "interest_real_estate",
    10052: "interest_IT",
    10057: "interest_electronic_game",
    10059: "interest_fashion",
    10063: "interest_entertainment",
    10067: "interest_luxury",
    10074: "interest_home_and_lifestyle",
    10075: "interest_health",
    10076: "interest_food",
    10077: "interest_divine",
    10079: "interest_motherhood_parenting",
    10083: "interest_sports",
    10093: "interest_travel_outdoors",
    10102: "interest_social",
    10684: "Inmarket_3c_product",
    11092: "Inmarket_appliances",
    11278: "Inmarket_clothing_shoes_bags",
    11379: "Inmarket_Beauty_Personal_Care",
    11423: "Inmarket_household_home_improvement",
    11512: "Inmarket_infant_mom_products",
    11576: "Inmarket_sports_item",
    11632: "Inmarket_outdoor",
    11680: "Inmarket_health_care_products",
    11724: "Inmarket_luxury",
    11944: "Inmarket_real_estate",
    13042: "Inmarket_automobile",
    13403: "Inmarket_finance",
    13496: "Inmarket_travel",
    13678: "Inmarket_education",
    13776: "Inmarket_service",
    13800: "interest_art_photography_design",
    13866: "interest_online_literature",
    13874: "Inmarket_electronic_game",
    14273: "interest_3c",
    16593: "Inmarket_book",
    16617: "Inmarket_medicine",
    16661: "Inmarket_food_drink",
    16706: "interest_culture",
    16751: "interest_sex",
    10110: "Demographic_gender_male"
}

def map_browser(agent):
    browsers = ['edge', 'trident', 'chrome', 'firefox', 'safari', 'opera']
    for browser in browsers:
        if browser in agent.lower():
            return browser
    return 'other'

def map_os(agent):
    os_list = ['windows', 'linux', 'mac os x']
    for os in os_list:
        if os in agent.lower():
            return os
    return 'other'
    
def apply_mappings(df):
    df['OS'] = df['User-Agent'].astype(str).apply(map_os)
    df['Browser'] = df['User-Agent'].astype(str).apply(map_browser)
    df.drop(['User-Agent'],axis=1,inplace=True)
    df.rename(columns={str(k): v for k, v in column_mapping.items()}, inplace=True)
    return df

In [17]:
def ad_area(df):
    df['Adslotarea']=df['Adslotheight']*df['Adslotwidth']
    df.drop(['Adslotheight'],axis=1,inplace=True)
    df.drop(['Adslotwidth'],axis=1,inplace=True)
    return df

In [18]:
drop_cols=['BidID','Logtype','VisitorID','IP','City','Domain','URL',
          'AnonymousURLID','AdslotID',
          'Biddingprice','Payingprice','10111','AdvertiserID','CreativeID','KeypageURL'] 
label_encode_cols=['Region','CreativeID','KeypageURL']
one_hot_cols=['Adexchange','Adslotvisibility','Adslotformat', 'OS','Browser'] 
num_cols=['Region','Adslotarea','Adslotfloorprice']

In [19]:
def drop_columns(df,drop_cols):
    return df.drop(columns=drop_cols, axis=1)  # Return a new DataFrame instead of modifying inplace

In [20]:
def custom_transformations(df):
    df=encoding_user_profile_tags(df)
    df=extracting_hours(df)
    df=apply_mappings(df)
    df=ad_area(df)
    return df

In [21]:
imp_df_transformed= custom_transformations(imp_df)

In [22]:
imp_df_transformed.head()

,BidID,Logtype,VisitorID,IP,Region,City,Adexchange,Domain,URL,AnonymousURLID,...,interest_3c,Inmarket_book,Inmarket_medicine,Inmarket_food_drink,interest_culture,NaN,Hours,OS,Browser,Adslotarea
0,8a15b98c8f9e60d4f92aaab01acf52a4,1,VhTVORqG36N6qMj,114.100.37.*,106,117,1,lsxSl559Xql7FmMs,8c9742e63497713b97ac7e780a8f9a12,NaN,...,1,0,0,0,0,0,0,windows,chrome,85500
1,5bd0cbeb2f82fb94e56b7dc2e6b77ec,1,Vhkr1uaROqKsXmb,222.220.35.*,308,320,2,eSMvBpa0jqmUagk4JKTI,15b56f50bbaa689c91ccaf5ed7c97b48,NaN,...,0,0,0,0,0,0,0,windows,trident,94080
2,faf17eac9cabf1be598f4e75f40d501d,1,VhL01pk8OTkW3Mc,58.100.240.*,94,95,1,tK1NTu1YP5scFsf,e22930480589abcc1468854cb3403314,NaN,...,0,0,0,0,0,0,0,windows,chrome,85500
3,234870d3864ad1852fe04b172f340be3,1,VhT3La5uDlaywOj,122.233.40.*,94,95,1,trqRTummPvas1m58uG,762a1aa930e6f41c969e77226c62f3a7,NaN,...,0,0,0,0,0,0,0,windows,chrome,75000
4,20fb85784972aebed3dda8d20ca87afb,1,VhkSPnNDP8L8eYl,58.67.157.*,216,217,1,trqRTuS8jZL7FmMs,1eb132233cd79996f8abdd03e2de6699,NaN,...,0,0,0,0,0,0,0,other,opera,75000

In [23]:
unique_advertisers = imp_df_transformed['AdvertiserID'].unique()[:5]

In [24]:
unique_advertisers

array([3427, 3358, 3386, 3476, 1458])

In [25]:
df_3427 = imp_df_transformed[imp_df_transformed['AdvertiserID'] == unique_advertisers[0]]  # 3427
df_3358 = imp_df_transformed[imp_df_transformed['AdvertiserID'] == unique_advertisers[1]]  # 3358
df_3386 = imp_df_transformed[imp_df_transformed['AdvertiserID'] == unique_advertisers[2]]  # 3386
df_3476 = imp_df_transformed[imp_df_transformed['AdvertiserID'] == unique_advertisers[3]]  # 3476
df_1458 = imp_df_transformed[imp_df_transformed['AdvertiserID'] == unique_advertisers[4]]  # 1458

In [26]:

df_3427=drop_columns(df_3427,drop_cols)
df_3358=drop_columns(df_3358,drop_cols)
df_3386=drop_columns(df_3386,drop_cols)
df_3476=drop_columns(df_3476,drop_cols)
df_1458=drop_columns(df_1458,drop_cols)

In [27]:
is_clk_3427=df_3427['is_clk']
df_3427.drop('is_clk',axis=1,inplace=True)
is_clk_3358=df_3358['is_clk']
df_3358.drop('is_clk',axis=1,inplace=True)
is_clk_3386=df_3386['is_clk']
df_3386.drop('is_clk',axis=1,inplace=True)
is_clk_3476=df_3476['is_clk']
df_3476.drop('is_clk',axis=1,inplace=True)
is_clk_1458=df_1458['is_clk']
df_1458.drop('is_clk',axis=1,inplace=True)

In [28]:
# 3358 3476

In [29]:
is_conv_3358 = df_3358['is_conv']
df_3358.drop('is_conv', axis=1, inplace=True)
is_conv_3476 = df_3476['is_conv']
df_3476.drop('is_conv', axis=1, inplace=True)
df_3386.drop('is_conv', axis=1, inplace=True)
df_1458.drop('is_conv', axis=1, inplace=True)
df_3427.drop('is_conv', axis=1, inplace=True)

In [30]:
is_clk_3427.to_csv('processed_dataset/is_clk_3427.csv', index=False)
is_clk_3358.to_csv('processed_dataset/is_clk_3358.csv', index=False)
is_clk_3386.to_csv('processed_dataset/is_clk_3386.csv', index=False)
is_clk_3476.to_csv('processed_dataset/is_clk_3476.csv', index=False)
is_clk_1458.to_csv('processed_dataset/is_clk_1458.csv', index=False)
is_conv_3358.to_csv('processed_dataset/is_conv_3358.csv', index=False)
is_conv_3476.to_csv('processed_dataset/is_conv_3476.csv', index=False)

In [31]:
import joblib

# Load the pipeline
loaded_pipeline = joblib.load('final_pipeline.pkl')

In [32]:

df_3427=loaded_pipeline.transform(df_3427)
df_3358=loaded_pipeline.transform(df_3358)
df_3386=loaded_pipeline.transform(df_3386)
df_3476=loaded_pipeline.transform(df_3476)
df_1458=loaded_pipeline.transform(df_1458)

In [33]:
pd.DataFrame(df_3427).head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,-0.388882,0.452644,-0.746348,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.388937,0.452644,-0.746348,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,-1.153508,-2.637535,-0.299161,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.001730,0.452644,-0.746348,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.256516,0.452644,-0.746348,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
pd.DataFrame(df_3427).to_csv('processed_dataset/df_3427.csv',index=False)
pd.DataFrame(df_3358).to_csv('processed_dataset/df_3358.csv',index=False)
pd.DataFrame(df_3386).to_csv('processed_dataset/df_3386.csv',index=False)
pd.DataFrame(df_3476).to_csv('processed_dataset/df_3476.csv',index=False)
pd.DataFrame(df_1458).to_csv('processed_dataset/df_1458.csv',index=False)